<% if object.errors.any? %>
  <section class="errors">
    <header>
      <h2>Form could not be saved!</h2>
      <h3>
        Please correct the following
        <%= pluralize(object.errors.count, 'error')%>:
      </h3>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </header>
  </section>
<% end %>