<h1>Please complete to submit order</h1>

<%= render 'users/personal_data' %>
<%= render 'shared/errors', object: @order %>
<%= render 'orders/form', object: @order %>

<hr>
<h3>See Order Details</h3>

<ul class="flex">
  <%= render 'carts/cart' %>
</ul>
