<% current_cart.cart_pots.each_with_index do |cart_pot, i| %>
  <li id='cart_pot_<%= cart_pot.id %>'>
    <%= render partial: 'cart_pots/cart_pot', locals: { cart_pot: cart_pot } %>
  </li>
<% end %>

